
@model GraniteHouse.Models.ViewModel.ProductViewModel
@using GraniteHouse.Extensions

@{
    ViewData["Title"] = "Delete";
}

<br />
<h2 class="text-info">Delete product</h2>

<form method="post" enctype="multipart/form-data">
    <div class="p-4 border rounded row">
        <input type="hidden" asp-for="products.Id" />
        
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="products.Name" class="form-control" disabled/>
                </div>               
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="products.Price" class="form-control" disabled/>
                </div>                
            </div>
          
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="producttype"></label>
                </div>
                <div class="col-8">
                    <select asp-for="products.ProductTypeId" asp-items="@Model.producttype.ToSelectListItem(Model.products.ProductTypeId)" class="form-control" disabled></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="specialtags"></label>
                </div>
                <div class="col-8">
                    <select asp-for="products.SpecialTagId" asp-items="@Model.specialtags.ToSelectListItem(Model.products.SpecialTagId)" class="form-control" disabled></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="products.ShadeColor" class="form-control" disabled/>
                </div>              
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="products.Available"></label>
                </div>
                <div class="col-8">
                    <input onclick="return false" type="checkbox" asp-for="products.Available" disabled/>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="@Model.products.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
        </div>

        <br />
        <div>
            <input type="submit" class="btn btn-primary" value="Delete" />
            <a asp-action="Index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}