@model GraniteHouse.Models.SpecialTag
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<div class="row">
    <form method="post" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="p-4 border rounded">
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" disabled />
                </div>
            </div>
        </div><br />
        <div>
            <input type="submit" class="btn btn primary" value="Delete" asp-route-id="@Model.Id" />
            <a asp-action="Index" class="btn-btn succ">Back To List</a>
        </div>
    </form>
</div>

