@model IEnumerable<GraniteHouse.Models.SpecialTag>
@{
    ViewData["Title"] = "Index";
}

<div class="row>">
    <h2>Product Type</h2>
</div>
<div>
    @*asp-page="Create"*@
    <a asp-action="Create" class="btn btn-primary">Create Special Tags</a>
</div>
<table class="table table-striped border">
    <tr class="table-info">
        <th>
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>

            <partial name="_ButtonPartialView" model="@item.Id" />

        </tr>

    }
</table>

